<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio 13 - Crear Usuario</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <form action="/usuario" method="POST" >
    <div 
        class="modifyUserContainer"
    > 
        <h1>Creando un nuevo usuario</h1>
        
        <h2>ID</h2>
        <input type="text" name="id">
        <h2>Nombre</h2>
        <input type="text" name="nombre">
        <h2>Apellido</h2>
        <input type="text" name="apellido">
        <h2>Correo</h2>
        <input type="text" name="correo">
        <h2>Fecha de Nacimiento</h2>
        <input type="date" name="fecha_nac">
        <h2>Foto</h2>
        <input type="text" name="foto">
        <input class="createUserButon" type="submit" value="Crear">
    </div>
</form>
</body>
</html>